body {
    width: 1000px;
    height: 700px;
    margin-top: 25px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(14, 17, 17);
    color: rgb(40, 254, 20);
}

#game {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #363636;
}

#socialDistancing {
    position: relative;
    margin-top: -390px;
    margin-left: 100px;
    width: 800px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
    line-height: 75px;
    font-size: 60px;
    letter-spacing: .25em;
    background-color: rgb(14, 17, 17);
}

.bottomRow {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 235px;
    width: 300px;
    height: 75px;
    background-color: rgb(14, 17, 17);
    color: rgb(247, 7, 2);
    border: 1px solid yellow;
    text-align: center;
    padding: 3px;
}

#boxes {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 1000px;
}


#instructions {
    font-size: .78em;
    line-height: 1.2em;

}

#startGame, #score {
    font-size: 1.5em;
    line-height: 75px;
}

#startGame:hover {
    opacity: .25;
}

/* I left this in to implement for mobile later.  See README.md for more detail

.buttons {
    color: red;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.eachBtn {
    height: 2em;
    width: 2em;
    font-size: 2em;
    margin: 5px;
    background-color: rgb(247, 7, 2);
    color: rgb(14, 17, 17);
    display: none;
}

#up {
    margin-top: 25px;
}

@media screen and (max-width: 500px) {
    .eachBtn {
        display: inline;
    }
  } */